:root {
  /* Layout */
  --mobile-breakpoint: 375px;
  --desktop-breakpoint: 1440px;

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --link: hsl(228, 45%, 44%);

  /* Typography */
  --primary-font-family: 'Outfit', sans-serif;
  --paragraph: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  font-size: 1.6rem;
}

p {
  font-size: var(--paragraph);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--link);
}
